<footer class="footer">
  <div class="container bottom_border">
  <div class="row">
  <div class=" col-sm-4 col-md col-sm-4  col-12 col">
  <h5 class="headin5_amrc col_white_amrc pt2">Find us</h5>
  <!--headin5_amrc-->
 
  <li style="color: aliceblue;">"Exercise not only changes your body, it changes your mind, your attitude and your mood."</li>
 
 
  
  </div>
  
  
  <div class=" col-sm-4 col-md  col-6 col">
  <h5 class="headin5_amrc col_white_amrc pt2">Contact Number</h5>
  <!--headin5_amrc-->
  <ul class="footer_ul_amrc">
    <li style="color: aliceblue;"><i class="fa fa-phone"></i>  +1-902-989-2838 </li>
 
  </ul>
  <!--footer_ul_amrc ends here-->
  </div>
  
  
  <div class=" col-sm-4 col-md  col-6 col">
  <h5 class="headin5_amrc col_white_amrc pt2">Email</h5>
  <!--headin5_amrc-->
  <ul class="footer_ul_amrc">
    <li style="color: aliceblue;"><i class="fa fa fa-envelope"></i> nr405015@dal.ca </li>
  
  
  </ul>
  <!--footer_ul_amrc ends here-->
  </div>
  
  
  <div class=" col-sm-4 col-md  col-12 col">
  <h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>
  <!--headin5_amrc ends here-->
  
  <ul class="footer_ul2_amrc">
  <li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Lorem Ipsum is simply dummy text of the printing...<a href="#">https://www.lipsum.com/</a></p></li>
  </ul>
  <!--footer_ul2_amrc ends here-->
  </div>
  </div>
  </div>
  
  
  <div class="container" style="padding-bottom:30px !important">
  <ul class="foote_bottom_ul_amrc">
  <li><a href="http://webenlance.com" style="color: aliceblue;">Home</a></li>
  <li><a href="http://webenlance.com" style="color: aliceblue;">About</a></li>
   <li><a href="http://webenlance.com" style="color: aliceblue;">Blog</a></li>
  <li><a href="http://webenlance.com" style="color: aliceblue;">Contact</a></li>
  </ul>
  <!--foote_bottom_ul_amrc ends here-->
  <p class="text-center">Copyright @2021 | Designed by <a href="#">Happify</a></p>
  
  <ul class="foote_bottom_ul_amrc">
  <li><a href="http://webenlance.com" style="color: aliceblue;"><i class="fab fa-facebook-f"></i></a></li>
  <li><a href="http://webenlance.com" style="color: aliceblue;"><i class="fab fa-twitter"></i></a></li>
  <li><a href="http://webenlance.com" style="color: aliceblue;"><i class="fab fa-linkedin"></i></a></li>
  <li><a href="http://webenlance.com" style="color: aliceblue;"><i class="fab fa-instagram"></i></a></li>
  <li><a href="http://webenlance.com" style="color: aliceblue;"><i class="fab fa-pinterest"></i></a></li>


 
  </ul>
  <!--social_footer_ul ends here-->
  </div>
  
  </footer>