<div class="container hero">
    <div class="row">
      <div class="col-md-10">

      </div>    
      <div class="col-md-2">
        <a class="button" data-title="Add Blog" data-toggle="modal" data-target="#addBlog">Add Blog</a>
    </div>    
    </div>
    <div class="row">
<table class="styled-table">
    <thead>
        <tr>
            <th>Index</th>
            <th>Title</th>
            <th>Short Description</th>
            <th>Date and Time</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let blog of blogsDetail; let indexOfElement  = index">
            <td>{{indexOfElement +1}}</td>
            <td>{{blog.blogTitle}}</td>
            <td>{{blog.blogShortDescription}}</td>
            <td>{{blog.dateAndTime | date}}</td>
            <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#updateBlogModel" (click)="getindex(blog.id, indexOfElement)"><i class="fa fa-pen" aria-hidden="true"></i></button></p></td>
                            <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#deleteBlogModel" (click)="getindex(blog.id, indexOfElement)" ><i class="fa fa-trash" aria-hidden="true"></i></button></p></td>
        </tr>
    
    </tbody>
</table>
</div>
</div>

<div class="modal fade" id="addBlog" role="dialog">
    <div class="modal-dialog">
    
     
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add Blog</h4>
          <button type="button" class="close" data-dismiss="modal"  >&times;</button>
        
        </div>
        <div class="modal-body">


          <form class="forms-sample"  #Insertform="ngForm">
            <div class="form-group">
              <label for="exampleInputName1">Title</label>
              <input type="text" name="blogTitle" class="form-control"  placeholder="Blog Title" [(ngModel)]="blogTitle"  required>
             
            </div>


            <div class="form-group">
              <label for="exampleTextarea1">Short Description</label>
              <textarea class="form-control" name="blogShortDescription"  rows="2" placeholder="Blog Short Description" [(ngModel)]="blogShortDescription"></textarea>
            </div>

            <div class="form-group">
                <label for="exampleTextarea1">Description</label>
                <textarea class="form-control" name="blogDescription" rows="3" [(ngModel)]="blogDescription"></textarea>
              </div>


          
          </form>
        </div>
       
        <div class="modal-footer">
          <button type="submit" class="btn btn-success mr-2"   data-dismiss="modal" (click)= "addBlog()">Submit</button>
          <button class="btn btn-danger mr-2" data-dismiss="modal" (click)= "cancelAction()">Cancel</button>
         
        </div>
      </div>
      
    </div>
  </div>


  <div class="modal fade" id="updateBlogModel" role="dialog">
    <div class="modal-dialog">
    
     
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Update Blog</h4>
          <button type="button" class="close" data-dismiss="modal"  >&times;</button>
        
        </div>
        <div class="modal-body">


          <form class="forms-sample"  #Insertform="ngForm">
            <div class="form-group">
              <label for="exampleInputName1">Title</label>
              <input type="text" name="blogTitle" class="form-control"  placeholder="Blog Title" [(ngModel)]="blogTitle"  required>
             
            </div>


            <div class="form-group">
              <label for="exampleTextarea1">Short Description</label>
              <textarea class="form-control" name="blogShortDescription"  rows="2" placeholder="Blog Short Description" [(ngModel)]="blogShortDescription"></textarea>
            </div>

            <div class="form-group">
                <label for="exampleTextarea1">Description</label>
                <textarea class="form-control" name="blogDescription" rows="3" [(ngModel)]="blogDescription"></textarea>
              </div>


          
          </form>
        </div>
       
        <div class="modal-footer">
          <button type="submit" class="btn btn-success mr-2"   data-dismiss="modal" (click)= "updateBlog()">Update</button>
          <button class="btn btn-danger mr-2" data-dismiss="modal" (click)= "cancelAction()">Cancel</button>
         
        </div>
      </div>
      
    </div>
  </div>

  <div class="modal fade" id="deleteBlogModel" role="dialog">
    <div class="modal-dialog">
    
    
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Delete Blog</h4>
          <button type="button" class="close" data-dismiss="modal" (click)="cancelAction()" >&times;</button>
        
        </div>
        <div class="modal-body">
          <form class="forms-sample"  #Insertform="ngForm">
          <p>Are you sure want to delete Blog??</p>
           
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn  btn-danger mr-2" (click)="deleteBlog()"  data-dismiss="modal">Delete</button>
          <button class="btn btn-success mr-2" (click)="cancelAction()" data-dismiss="modal">Cancel</button>
         
        </div>
      </div>
      
    </div>
  </div>