<!DOCTYPE html>
<html>
<head>
  <link rel = "stylesheet"
  type = "text/css"
  href = "https://www.avalonruby.web.illinois.edu/Website2020/Homepage/style.css">
  </head>
  <body>
<div id="container">
  <div id="header">
    <h2> Yoga</h2>
    <div class="clear"> </div>
  </div>

  
  
  <div id = "blog">
      <h3> One hour excercise </h3>

      <hr>
      <h4>What to do?</h4>
      <hr>
      <h4 style="text-align: center;">Child's Pose</h4>
        <h4>Do it:</h4> When you want to get a nice gentle stretch through your neck spine and hips.
         <h4> Skip it:</h4> If you have knee injuries or ankle problems. Avoid also if you have high blood pressure or are pregnant.
        <h4> Modify: </h4>You can rest your head on a cushion or block. You can place a rolled towel under your ankles if they are uncomfortable.
            <h4> Be mindful:  </h4>Focus on relaxing the muscles of the spine and lower back as you breathe.
         
    <hr>

    <h4 style="text-align: center;">Downward-Facing Dog</h4>
      <h4>Do it:</h4> To help relieve back pain.
       <h4> Skip it:</h4> This pose is not recommended if you have carpal tunnel syndrome or other wrist problems, have high blood pressure or are in the late stages of pregnancy.
      <h4> Modify: </h4>You can do the pose with your elbows on the ground, which takes the weight off your wrists. You can also use blocks under your hands, which may feel more comfortable.
      <h4> Be mindful:  </h4>Focus on distributing the weight evenly through your palms and lifting your hips up and back, away from your shoulders.
         
  <div class="clear"></div>

  <div id="content">

   
  <div class="clear"></div>
</div>