<div class="container hero">
    <div class="row">
        <div id="portfolio" class="our-portfolio section">
            <div class="container">
              <div class="row">
                <div class="col-lg-5">
                  <div class="section-heading wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
                   
                    <h4>See our top   <em>Blog </em> From Instructor</h4>
                    <div class="line-dec"></div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <section class="details-card   " style="margin-bottom: 50px;" >
            <div class="container">
                <div class="row" style="margin-bottom: 50px; margin-top: 50px;">
                    <div class="col-md-3">
                        <div class="card-content">
                            <div class="card-img">
                                <img src="assets/images/1.png" alt="">
                                <!-- <span><h4 style="background-color: ;">Number 1</h4></span> -->
                            </div>
                            <div class="card-desc">
                                <h3 class="changeColor">Cardio</h3>
                                <p>short for cardiovascular exercise ...</p>
                                    <div class="col-lg-12">
                                      <div class="border-first-button scroll-to-section">
                                        <a href="#contact">Know More</a>
                                      </div>
                                    </div>  
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card-content">
                            <div class="card-img">
                                <img src="assets/images/2.png" alt="">
                                <!-- <span><h4></h4></span> -->
                            </div>
                            <div class="card-desc">
                                <h3 class="changeColor">Plyometrics</h3>
                                <p> type of exercise training that ...</p>
                                    <div class="col-lg-12">
                                      <div class="border-first-button scroll-to-section">
                                        <a href="#contact">Know More</a>
                                      </div>
                                    </div> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card-content">
                            <div class="card-img">
                                <img src="assets/images/3.png" alt="">
                                <!-- <span><h4>heading3</h4></span> -->
                            </div>
                            <div class="card-desc">
                                <h3 class="changeColor">Strength training</h3>
                                <p>muscles are exercised by being ...</p>
                                    <div class="col-lg-12">
                                      <div class="border-first-button scroll-to-section">
                                        <a href="#contact">Know More</a>
                                      </div>
                                    </div>  
                            </div>
                        </div>
                    </div>
      
                    <div class="col-md-3">
                      <div class="card-content">
                          <div class="card-img">
                              <img src="assets/images/4.png" alt="">
                              <!-- <span><h4>heading3</h4></span> -->
                          </div>
                          <div class="card-desc">
                              <h3 class="changeColor">HIIT</h3>
                              <p>high-intensity interval training ...</p>
                                  <div class="col-lg-12">
                                    <div class="border-first-button scroll-to-section">
                                      <a href="#contact">Know More</a>
                                    </div>
                                  </div>  
                          </div>
                      </div>
                  </div>
                </div>
            </div>
        </section>

        <section class="details-card   " style="margin-bottom: 50px;" >
          <div class="container">
              <div class="row" style="margin-bottom: 50px; margin-top: 50px;">
                  <div class="col-md-3">
                      <div class="card-content">
                          <div class="card-img">
                              <img src="https://placeimg.com/380/230/nature" alt="">
                              <!-- <span><h4 style="background-color: ;">Number 1</h4></span> -->
                          </div>
                          <div class="card-desc">
                              <h3 class="changeColor">Endurance</h3>
                              <p>Exercises that increase endurance ...</p>
                                  <div class="col-lg-12">
                                    <div class="border-first-button scroll-to-section">
                                      <a href="#contact">Know More</a>
                                    </div>
                                  </div>  
                          </div>
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="card-content">
                          <div class="card-img">
                              <img src="https://placeimg.com/380/230/animals" alt="">
                              <!-- <span><h4></h4></span> -->
                          </div>
                          <div class="card-desc">
                              <h3 class="changeColor">Running</h3>
                              <p>Both running and jogging are forms of ... </p>
                                  <div class="col-lg-12">
                                    <div class="border-first-button scroll-to-section">
                                      <a href="#contact">Know More</a>
                                    </div>
                                  </div> 
                          </div>
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="card-content">
                          <div class="card-img">
                              <img src="https://placeimg.com/380/230" alt="">
                              <!-- <span><h4>heading3</h4></span> -->
                          </div>
                          <div class="card-desc">
                              <h3 class="changeColor">Classes (Spinning, Zumba)</h3>
                              <p>fitness program that combines Latin ...  </p>
                                  <div class="col-lg-12">
                                    <div class="border-first-button scroll-to-section">
                                      <a href="#contact">Know More</a>
                                    </div>
                                  </div>  
                          </div>
                      </div>
                  </div>
    
                  <div class="col-md-3">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="https://placeimg.com/380/230/tech" alt="">
                            <!-- <span><h4>heading3</h4></span> -->
                        </div>
                        <div class="card-desc">
                            <h3 class="changeColor">Yoga</h3>
                            <p>type of exercise in which you move ...  </p>
                                <div class="col-lg-12">
                                  <div class="border-first-button scroll-to-section">
                                    <a href="#contact">Know More</a>
                                  </div>
                                </div>  
                        </div>
                    </div>
                </div>
              </div>
          </div>
      </section>

        
  </div>
  </div>