<div class="container hero">
    <div class="row">
        <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="row">
                    <div class="col-lg-6 align-self-center">
                      <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                        <div class="row">
                          <div class="col-lg-12">
                            <h6>Happify</h6>
                            <h2>Fitness is All About What You Do</h2>
                            <h4>Start work from today. Stay Healthy. Stay Happy and Fit.</h4>
                          </div>
                          <div class="col-lg-12">
                            <div class="border-first-button scroll-to-section">
                              <a href="#contact">Free Quote</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                        <img src="assets/images/slider-dec.png" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div id="portfolio" class="our-portfolio section">
            <div class="container">
              <div class="row">
                <div class="col-lg-5">
                  <div class="section-heading wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
                   
                    <h4>Get to know some famous   <em>Instructor</em></h4>
                    <div class="line-dec"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
    </div>

    <section class="details-card  wow fadeIn" style="margin-bottom: 50px;" data-wow-duration="1s" data-wow-delay="0.3s">
      <div class="container">
          <div class="row" style="margin-bottom: 50px; margin-top: 50px;">
              <div class="col-md-3">
                  <div class="card-content">
                      <div class="card-img">
                          <img src="https://placeimg.com/380/230/nature" alt="">
                          <!-- <span><h4 style="background-color: ;">Number 1</h4></span> -->
                      </div>
                      <div class="card-desc">
                          <h3 class="changeColor">Nirmal Bhimani</h3>
                          <p>Lorem ipsum dolor sit amet consectetur</p>
                              <div class="col-lg-12">
                                <div class="border-first-button scroll-to-section">
                                  <a href="#contact">Know More</a>
                                </div>
                              </div>  
                      </div>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="card-content">
                      <div class="card-img">
                          <img src="https://placeimg.com/380/230/animals" alt="">
                          <!-- <span><h4></h4></span> -->
                      </div>
                      <div class="card-desc">
                          <h3 class="changeColor">Thomas bhai</h3>
                          <p>Lorem ipsum dolor sit amet consectetur,</p>
                              <div class="col-lg-12">
                                <div class="border-first-button scroll-to-section">
                                  <a href="#contact">Know More</a>
                                </div>
                              </div> 
                      </div>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="card-content">
                      <div class="card-img">
                          <img src="https://placeimg.com/380/230" alt="">
                          <!-- <span><h4>heading3</h4></span> -->
                      </div>
                      <div class="card-desc">
                          <h3 class="changeColor">Anish</h3>
                          <p>Lorem ipsum dolor sit amet consectetur, </p>
                              <div class="col-lg-12">
                                <div class="border-first-button scroll-to-section">
                                  <a href="#contact">Know More</a>
                                </div>
                              </div>  
                      </div>
                  </div>
              </div>

              <div class="col-md-3">
                <div class="card-content">
                    <div class="card-img">
                        <img src="https://placeimg.com/380/230/tech" alt="">
                        <!-- <span><h4>heading3</h4></span> -->
                    </div>
                    <div class="card-desc">
                        <h3 class="changeColor">Rahil</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, </p>
                            <div class="col-lg-12">
                              <div class="border-first-button scroll-to-section">
                                <a href="#contact">Know More</a>
                              </div>
                            </div>  
                    </div>
                </div>
            </div>
          </div>
      </div>
  </section>



  <div id="blog" class="blog">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 offset-lg-4  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.3s">
          <div class="section-heading">
            <h6>Trending Blogs</h6>
            <h4>Check Our Blog <em>Posts</em></h4>
            <div class="line-dec"></div>
          </div>
        </div>
        <div class="col-lg-6 show-up wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
          <div class="blog-post">
            <div class="thumb">
              <a href="#"><img src="assets/images/blog-post-01.jpg" alt=""></a>
            </div>
            <div class="down-content">
              <span class="category">SEO Analysis</span>
              <span class="date">03 August 2021</span>
              <a href="#"><h4>Lorem Ipsum Dolor Sit Amet, Consectetur Adelore
                Eiusmod Tempor Incididunt</h4></a>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doers itii eiumod deis tempor incididunt ut labore.</p>
              <span class="author"><img src="assets/images/author-post.jpg" alt="">By: Tejaswi Chaudhary</span>
              <div class="border-first-button"><a href="#">Discover More</a></div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
          <div class="blog-posts">
            <div class="row">
              <div class="col-lg-12">
                <div class="post-item">
                  <div class="thumb">
                    <a href="#"><img src="assets/images/blog-post-02.jpg" alt=""></a>
                  </div>
                  <div class="right-content">
                    <span class="category">SEO Analysis</span>
                    <span class="date">24 September 2021</span>
                    <a href="#"><h4>Lorem Ipsum Dolor Sit Amei Eiusmod Tempor</h4></a>
                    <p>Lorem ipsum dolor sit amet, cocteturi adipiscing eliterski.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="post-item">
                  <div class="thumb">
                    <a href="#"><img src="assets/images/blog-post-03.jpg" alt=""></a>
                  </div>
                  <div class="right-content">
                    <span class="category">SEO Analysis</span>
                    <span class="date">24 September 2021</span>
                    <a href="#"><h4>Lorem Ipsum Dolor Sit Amei Eiusmod Tempor</h4></a>
                    <p>Lorem ipsum dolor sit amet, cocteturi adipiscing eliterski.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="post-item last-post-item">
                  <div class="thumb">
                    <a href="#"><img src="assets/images/blog-post-04.jpg" alt=""></a>
                  </div>
                  <div class="right-content">
                    <span class="category">SEO Analysis</span>
                    <span class="date">24 September 2021</span>
                    <a href="#"><h4>Lorem Ipsum Dolor Sit Amei Eiusmod Tempor</h4></a>
                    <p>Lorem ipsum dolor sit amet, cocteturi adipiscing eliterski.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
  

 

   
</div>