<div class="container hero">
    <div class="row">
        <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="row">
                    <div class="col-lg-6 align-self-center">
                      <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                        <div class="row">
                          <div class="col-lg-12">
                            <h6>Happify</h6>
                            <h2>Fitness is All About What You Do</h2>
                            <h4>Start work from today. Stay Healthy. Stay Happy. Stay Fit.</h4>
                          </div>
                          <div class="col-lg-12">
                            <div class="border-first-button scroll-to-section">
                              <a >Stay Safe</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                        <img src="assets/images/first.png" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div id="portfolio" class="our-portfolio section">
            <div class="container">
              <div class="row">
                <div class="col-lg-5">
                  <div class="section-heading wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
                   
                    <h4>Get to know some famous   <em>Instructor</em></h4>
                    <div class="line-dec"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
    </div>

    <section class="details-card  wow fadeIn" style="margin-bottom: 50px;" data-wow-duration="1s" data-wow-delay="0.3s">
      <div class="container">
          <div class="row" style="margin-bottom: 50px; margin-top: 50px;">
              <div class="col-md-3">
                  <div class="card-content">
                      <div class="card-img">
                          <img src="assets/images/ins1.png" alt="" >
                          <!-- <span><h4 style="background-color: ;">Number 1</h4></span> -->
                      </div>
                      <div class="card-desc">
                          <h3 class="changeColor">Mukhtaar   </h3>
                          <p>I am your trainer</p>
                              <div class="col-lg-12">
                                <div class="border-first-button scroll-to-section">
                                  <a href="#contact">Know More</a>
                                </div>
                              </div>  
                      </div>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="card-content">
                      <div class="card-img">
                          <img src="assets/images/ins3.png" alt="" style="max-height: 500px; !important">
                          <!-- <span><h4></h4></span> -->
                      </div>
                      <div class="card-desc">
                          <h3 class="changeColor">Meklit Donato</h3>
                          <p>Progres not perfection</p>
                              <div class="col-lg-12">
                                <div class="border-first-button scroll-to-section">
                                  <a href="#contact">Know More</a>
                                </div>
                              </div> 
                      </div>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="card-content">
                      <div class="card-img">
                          <img src="assets/images/ins2.png" alt="" style="max-height: 500px; !important">
                          <!-- <span><h4>heading3</h4></span> -->
                      </div>
                      <div class="card-desc">
                          <h3 class="changeColor">Emma Siddhi</h3>
                          <p>Hustle For that muscle </p>
                              <div class="col-lg-12">
                                <div class="border-first-button scroll-to-section">
                                  <a href="#contact">Know More</a>
                                </div>
                              </div>  
                      </div>
                  </div>
              </div>

              <div class="col-md-3">
                <div class="card-content">
                    <div class="card-img">
                        <img src="assets/images/ins4.png" alt="" style="max-height: 500px; !important">
                        <!-- <span><h4>heading3</h4></span> -->
                    </div>
                    <div class="card-desc">
                        <h3 class="changeColor">Hortensia Mwangi</h3>
                        <p>Let's see how far you can go</p>
                            <div class="col-lg-12">
                              <div class="border-first-button scroll-to-section">
                                <a href="#contact">Know More</a>
                              </div>
                            </div>  
                    </div>
                </div>
            </div>
          </div>
      </div>
  </section>

  <div id="services" class="services section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
            <h6>Our Services</h6>
            <h4>What We <em>Provides</em></h4>
            <div class="line-dec"></div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="naccs">
            <div class="grid">
              <div class="row">
                <div class="col-lg-12">
                  <div class="menu">
                    <div class="first-thumb active">
                      <div class="thumb">
                        <span class="icon"><img src="assets/images/ser1.png" alt=""></span>
                        Physical Fitness 
                      </div>
                    </div>
                    <div style="margin-left: 15px !important; margin-right: 15px;">
                      <div class="thumb" >                 
                        <span class="icon"><img src="assets/images/ser2.png" alt=""></span>
                        Mental Fitness 
                      </div>
                    </div>
                   
                    <!-- <div>
                      <div class="thumb">                 
                        <span class="icon"><img src="assets/images/service-icon-04.png" alt=""></span>
                        Monthly Subscription
                      </div>
                    </div> -->
                    <div class="last-thumb">
                      <div class="thumb">                 
                        <span class="icon"><img src="assets/images/ser3.png" alt=""></span>
                         Blog
                      </div>
                    </div>
                  </div>
                </div> 
                <div class="col-lg-12">
                  <ul class="nacc">
                    <li class="active">
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-6 align-self-center">
                              <div class="left-text">
                                <h4>Supplements for Your Fitness that You Need to Know</h4>
                                <p>Are you want to stay physically fit? Follow our blog. Get in touch with our instructor</p>
                                <div class="ticks-list"><span><i class="fa fa-check"></i>  Maintain Weight</span> <span><i class="fa fa-check"></i>  Lower Diabetes</span> <span><i class="fa fa-check"></i> Increase muscles</span>
                                  <span><i class="fa fa-check"></i> Lower Blood Pressure</span> <span><i class="fa fa-check"></i> Improve Bone Health</span> </div>
                                <p>Good nutrition always comes first, but these three supplements may be what you need to gain an extra edge in your performance.</p>
                              </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                              <div class="right-image">
                                <img src="assets/images/services-image.jpg" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-6 align-self-center">
                              <div class="left-text">
                                <h4>Your guide to mental fitness</h4>
                                <p>Are you suffering from mental health issue? Visit our blog and solve your problem</p>
                                <div class="ticks-list"><span><i class="fa fa-check"></i> increased Well Being</span> <span><i class="fa fa-check"></i>  Boost confidence</span> <span><i class="fa fa-check"></i> SEO Analysis</span>
                                  <span><i class="fa fa-check"></i>  Reduced Streess Levels</span> <span><i class="fa fa-check"></i> Incresed Energy Levels</span></div>
                                <p>Visit our blog to solve above mentioned problem</p>
                              </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                              <div class="right-image">
                                <img src="assets/images/services-image-02.jpg" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-6 align-self-center">
                              <div class="left-text">
                                <h4>Read Blog</h4>
                                <p>Remember that not every thought is true or helpful</p>
                                <div class="ticks-list"><span><i class="fa fa-check"></i> Sleep Better</span> <span><i class="fa fa-check"></i> Excersice Your Brain</span> <span><i class="fa fa-check"></i>  Reduce Stress</span>
                                  <span><i class="fa fa-check"></i> Create Routine</span> <span><i class="fa fa-check"></i> Tune In</span></div>
                                <p>Get some knowledge in a thing that you like to read</p>
                              </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                              <div class="right-image">
                                <img src="assets/images/services-image-03.jpg" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-6 align-self-center">
                              <div class="left-text">
                                <h4>Online Shopping &amp; Tracking ID</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sedr do eiusmod deis tempor incididunt ut labore et dolore kengan darwin doerski token.
                                  dover lipsum lorem and the others.</p>
                                <div class="ticks-list"><span><i class="fa fa-check"></i> Optimized Template</span> <span><i class="fa fa-check"></i> Data Info</span> <span><i class="fa fa-check"></i> SEO Analysis</span>
                                  <span><i class="fa fa-check"></i> Data Info</span> <span><i class="fa fa-check"></i> SEO Analysis</span> <span><i class="fa fa-check"></i> Optimized Template</span></div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sedr do eiusmod deis tempor incididunt.</p>
                              </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                              <div class="right-image">
                                <img src="assets/images/services-image-04.jpg" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-6 align-self-center">
                              <div class="left-text">
                                <h4>Enjoy &amp; Travel</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sedr do eiusmod deis tempor incididunt ut labore et dolore kengan darwin doerski token.
                                  dover lipsum lorem and the others.</p>
                                <div class="ticks-list"><span><i class="fa fa-check"></i> Optimized Template</span> <span><i class="fa fa-check"></i> Data Info</span> <span><i class="fa fa-check"></i> SEO Analysis</span>
                                  <span><i class="fa fa-check"></i> Data Info</span> <span><i class="fa fa-check"></i> SEO Analysis</span> <span><i class="fa fa-check"></i> Optimized Template</span></div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sedr do eiusmod deis tempor incididunt.</p>
                              </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                              <div class="right-image">
                                <img src="assets/images/services-image.jpg" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>          
              </div>
            </div>
			
			
          </div>
        </div>
      </div>
    
	
	
	
	</div>
  </div>

  <div id="blog" class="blog">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 offset-lg-4  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.3s">
          <div class="section-heading">
            <h6>Trending Blogs</h6>
            <h4>Check Our Blog <em>Posts</em></h4>
            <div class="line-dec"></div>
          </div>
        </div>
        <div class="col-lg-6 show-up wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
          <div class="blog-post">
            <div class="thumb">
              <a ><img src="assets/images/blog-post-01.jpg" alt=""></a>
            </div>
            <div class="down-content">
              <span class="category">Physical Fitness</span>
              <span class="date">29 November 2021</span>
              <a ><h4>Do I Need a Power Meter? The Case for Functional Threshold Power</h4></a>
              <p>Cycling rides at the forefront of quantified human performance and data-driven training guidance. This is largely due ..., </p>
              <span class="author"><img src="assets/images/author-post.jpg" alt="">By: GARMIN</span>
              <div class="border-first-button"><a href="#">Discover More</a></div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
          <div class="blog-posts">
            <div class="row">
              <div class="col-lg-12">
                <div class="post-item">
                  <div class="thumb">
                    <a ><img src="assets/images/blog-post-02.jpg" alt=""></a>
                  </div>
                  <div class="right-content">
                    <span class="category">Mental Fitness</span>
                    <span class="date">30 Nov 2021</span>
                    <a ><h4>Born Fitness</h4></a>
                    <p>Born Fitness' goal is to make sure its readers have a place where questions </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="post-item">
                  <div class="thumb">
                    <a ><img src="assets/images/blog-post-03.jpg" alt=""></a>
                  </div>
                  <div class="right-content">
                    <span class="category">Physical Fitness</span>
                    <span class="date">30 Nov 2021</span>
                    <a ><h4>Love Sweat Fitness</h4></a>
                    <p>Lorem ipsum dolor sit amet, cocteturi adipiscing eliterski.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="post-item last-post-item">
                  <div class="thumb">
                    <a ><img src="assets/images/blog-post-04.jpg" alt=""></a>
                  </div>
                  <div class="right-content">
                    <span class="category"> Mental Fitness</span>
                    <span class="date">24 Nov 2021</span>
                    <a ><h4>The Yoga Warrior </h4></a>
                    <p>It gives you information about how to live a yogi lifestyle</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
  

 

   
</div>