<div class="container hero">
    <div class="row">
        <!-- <div class="col-md-8 offset-md-2">
            <h1 class="text-center">The Truth is out there.</h1>
            <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/hAAlDoAtV7Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        </div> -->

        Please add your home page code Here(Rahil)
    </div>
</div>